IEclipsePreferences#org-eclipse-ant-ui {
	preferences:
		'org.eclipse.ant.ui.Color=203,78,78'
		'org.eclipse.ant.ui.debugColor=233,235,237'
		'org.eclipse.ant.ui.informationColor=121,171,255'
		'org.eclipse.ant.ui.verboseColor=209,151,217'
		'org.eclipse.ant.ui.warningColor=255,198,0'
}
IEclipsePreferences#org-eclipse-cdt-dsf-ui {
	preferences:
		'disassembly.addressColor=63,209,63'
		'disassembly.codeBytesColor=218,29,67'
		'disassembly.functionOffsetsColor=218,29,67'
}
IEclipsePreferences#org-eclipse-cdt-ui {
	preferences:
		'buildConsoleBackgroundColor=28,31,34'
		'buildConsoleErrorStreamColor=218,29,67'
		'buildConsoleInfoStreamColor=121,171,255'
		'buildConsoleOutputStreamColor=233,235,237'
		'buildConsoleProblemBackgroundColor=14,16,17'
		'buildConsoleProblemHighlightedColor=255,127,127'
		'buildConsoleProblemInfoBackgroundColor=28,31,34'
		'buildConsoleProblemWarningBackgroundColor=11,13,14'
}
IEclipsePreferences#org-eclipse-debug-ui {
	preferences:
		'org.eclipse.debug.ui.Color=218,29,67'
		'org.eclipse.debug.ui.MemoryHistoryKnownColor=233,235,237'
		'org.eclipse.debug.ui.MemoryHistoryUnknownColor=168,177,184'
		'org.eclipse.debug.ui.PREF_CHANGED_VALUE_BACKGROUND=145,77,111'
		'org.eclipse.debug.ui.changedDebugElement=255,128,128'
		'org.eclipse.debug.ui.consoleBackground=28,31,34'
		'org.eclipse.debug.ui.inColor=140,175,210'
		'org.eclipse.debug.ui.outColor=233,235,237'
}
IEclipsePreferences#org-eclipse-mylyn-wikitext-ui {
	preferences:
		'block-h1=font-size: 120%; font-weight: bold; color: #118bbd;'
		'block-h2=font-size: 110%; font-weight: bold; color: #118bbd;'
		'block-h3=font-size: 105%; font-weight: bold; color: #118bbd;'
		'block-h4=font-weight: bold; color: #118bbd;'
		'block-h5=font-size: 90%; font-weight: bold; color: #118bbd;'
		'block-h6=font-size: 80%; font-weight: bold; color: #118bbd;'
		'phrase-code=font-family: monospace; color: #6d72f6;'
}
IEclipsePreferences#org-eclipse-tm-terminal-control {
	preferences:
		'TerminalPrefInvertColors=true'
}
IEclipsePreferences#org-eclipse-ui-editors {
	preferences:
		'AbstractTextEditor.Color.Background=28,31,34'
		'AbstractTextEditor.Color.Background.SystemDefault=false'
		'AbstractTextEditor.Color.FindScope=29,116,150'
		'AbstractTextEditor.Color.Foreground=132,145,154'
		'AbstractTextEditor.Color.Foreground.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionBackground=26,95,140'
		'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionForeground=146,157,165'
		'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
		'asOccurencesIndicationColor=65,65,4'
		'breakpointIndicationColor=49,115,187'
		'currentIPColor=46,52,56'
		'currentLineColor=50,57,62'
		'deletionIndicationColor=221,225,227'
		'filteredSearchResultIndicationColor=26,95,140'
		'findIndicationColor=78,88,95'
		'hyperlinkColor=111,197,238'
		'hyperlinkColor.SystemDefault=false'
		'infoIndicationColor=86,194,170'
		'lineNumberColor=101,114,123'
		'linked.slave.color=66,156,255'
		'matchingTagIndicationColor=62,70,76'
		'occurrenceIndicationColor=65,65,4'
		'org.eclipse.cdt.ui.writeOccurrenceIndicationColor=65,65,4'
		'overrideIndicatorColor=90,101,109'
		'printMarginColor=101,114,123'
		'searchResultHighlighting=false'
		'searchResultIndication=true'
		'searchResultIndicationColor=80,91,98'
		'searchResultTextStyle=BOX'
		'secondaryIPColor=46,52,56'
		'spellingIndicationColor=253,170,211'
		'writeOccurrenceIndicationColor=65,65,4'
}
IEclipsePreferences#org-eclipse-ui-workbench {
	preferences:
		'ACTIVE_HYPERLINK_COLOR=255,200,0'
		'CONFLICTING_COLOR=232,14,64'
		'CONTENT_ASSIST_BACKGROUND_COLOR=48,54,59'
		'CONTENT_ASSIST_FOREGROUND_COLOR=235,237,239'
		'COUNTER_COLOR=0,208,255'
		'DECORATIONS_COLOR=181,152,86'
		'ERROR_COLOR=247,68,117'
		'HYPERLINK_COLOR=111,197,238'
		'INCOMING_COLOR=31,179,235'
		'MESSAGE_WARNING_COLOR=255,174,0'
		'OUTGOING_COLOR=235,237,239'
		'RESOLVED_COLOR=104,203,16'
		'cdataBorder=0,254,254'
		'cdataText=255,255,255'
		'commentBorder=75,113,227'
		'commentText=75,113,227'
		'content_assist_parameters_background=48,54,59'
		'content_assist_parameters_foreground=235,237,239'
		'content_assist_proposals_background=48,54,59'
		'content_assist_proposals_foreground=235,237,239'
		'declBoder=0,254,254'
		'doctypeExternalId=127,127,127'
		'doctypeExternalPubref=0,254,254'
		'doctypeExtrenalSysref=106,213,160'
		'doctypeName=0,254,254'
		'entityReference=212,0,255'
		'org.eclipse.cdt.internal.ui.text.doctools.doxygen.multi=75,113,227'
		'org.eclipse.cdt.internal.ui.text.doctools.doxygen.recognizedTag=76,96,115'
		'org.eclipse.cdt.internal.ui.text.doctools.doxygen.single=75,113,227'
		'org.eclipse.cdt.ui.ColoredLabels.match_highlight=33,33,40'
		'org.eclipse.cdt.ui.ColoredLabels.writeaccess_highlight=54,48,37'
		'org.eclipse.cdt.ui.asm_directive=255,0,255'
		'org.eclipse.cdt.ui.asm_label=255,0,255'
		'org.eclipse.cdt.ui.c_braces=255,255,255'
		'org.eclipse.cdt.ui.c_comment_task_tag=76,96,115'
		'org.eclipse.cdt.ui.c_default=255,255,255'
		'org.eclipse.cdt.ui.c_keyword=255,0,255'
		'org.eclipse.cdt.ui.c_multi_line_comment=106,213,160'
		'org.eclipse.cdt.ui.c_numbers=255,255,255'
		'org.eclipse.cdt.ui.c_operators=255,255,255'
		'org.eclipse.cdt.ui.c_single_line_comment=106,213,160'
		'org.eclipse.cdt.ui.c_string=212,0,255'
		'org.eclipse.cdt.ui.c_type=255,0,255'
		'org.eclipse.cdt.ui.classHighlighting=0,255,255'
		'org.eclipse.cdt.ui.content_assist_parameters_background=0,0,0'
		'org.eclipse.cdt.ui.content_assist_parameters_foreground=255,255,255'
		'org.eclipse.cdt.ui.content_assist_proposals_background=0,0,0'
		'org.eclipse.cdt.ui.content_assist_proposals_foreground=255,255,255'
		'org.eclipse.cdt.ui.enumHighlighting=247,173,123'
		'org.eclipse.cdt.ui.enumeratorHighlighting=159,159,255'
		'org.eclipse.cdt.ui.externalSDKHighlighting=185,74,237'
		'org.eclipse.cdt.ui.fieldHighlighting=159,159,255'
		'org.eclipse.cdt.ui.functionDeclarationHighlighting=255,255,255'
		'org.eclipse.cdt.ui.functionHighlighting=255,255,255'
		'org.eclipse.cdt.ui.globalVariableHighlighting=255,255,255'
		'org.eclipse.cdt.ui.labelHighlighting=255,255,255'
		'org.eclipse.cdt.ui.localVariableDeclarationHighlighting=255,191,191'
		'org.eclipse.cdt.ui.localVariableHighlighting=255,255,255'
		'org.eclipse.cdt.ui.macroDefinitionHighlighting=255,255,255'
		'org.eclipse.cdt.ui.macroSubstitutionHighlighting=255,255,255'
		'org.eclipse.cdt.ui.methodDeclarationHighlighting=255,255,255'
		'org.eclipse.cdt.ui.methodHighlighting=255,255,255'
		'org.eclipse.cdt.ui.namespaceHighlighting=255,255,255'
		'org.eclipse.cdt.ui.overloadedOperatorHighlighting=255,210,0'
		'org.eclipse.cdt.ui.parameterVariableHighlighting=255,255,255'
		'org.eclipse.cdt.ui.pp_default=255,255,255'
		'org.eclipse.cdt.ui.pp_directive=255,0,255'
		'org.eclipse.cdt.ui.pp_header=212,0,255'
		'org.eclipse.cdt.ui.problemHighlighting=255,143,143'
		'org.eclipse.cdt.ui.staticFieldHighlighting=159,159,255'
		'org.eclipse.cdt.ui.staticMethodHighlighting=255,255,255'
		'org.eclipse.cdt.ui.templateParameterHighlighting=247,173,123'
		'org.eclipse.cdt.ui.typedefHighlighting=0,255,255'
		'org.eclipse.cdt.ui.variablePassedByNonConstReferenceHighlighting=140,70,105'
		'org.eclipse.debug.ui.console.background=0,0,0'
		'org.eclipse.debug.ui.console.stream.err=255,127,127'
		'org.eclipse.debug.ui.console.stream.in=0,255,184'
		'org.eclipse.debug.ui.console.stream.out=255,255,255'
		'org.eclipse.egit.ui.DiffAddBackgroundColor=48,54,59'
		'org.eclipse.egit.ui.DiffAddForegroundColor=235,237,239'
		'org.eclipse.egit.ui.DiffHeadlineBackgroundColor=28,31,34'
		'org.eclipse.egit.ui.DiffHeadlineForegroundColor=238,240,241'
		'org.eclipse.egit.ui.DiffHunkBackgroundColor=28,31,34'
		'org.eclipse.egit.ui.DiffHunkForegroundColor=241,242,244'
		'org.eclipse.egit.ui.DiffRemoveBackgroundColor=57,65,70'
		'org.eclipse.egit.ui.DiffRemoveForegroundColor=238,240,241'
		'org.eclipse.egit.ui.IgnoredResourceForegroundColor=157,167,175'
		'org.eclipse.egit.ui.UncommittedChangeForegroundColor=216,220,223'
		'org.eclipse.mylyn.tasks.ui.colors.category.gradient.end=35,35,35'
		'org.eclipse.mylyn.tasks.ui.colors.category.gradient.start=15,15,15'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.completed=127,127,127'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.overdue.for.others=255,191,191'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.past.due=255,23,245'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.past.scheduled=140,92,255'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.task.active=249,151,255'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.thisweek.scheduled=255,255,255'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.today.completed=95,151,114'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.today.scheduled=140,92,255'
		'org.eclipse.mylyn.tasks.ui.colors.incoming.background=15,16,17'
		'org.eclipse.search.ui.match.highlight=73,83,90'
		'org.eclipse.tracecompass.tmf.ui.color.eventraw.highlight=3,4,4'
		'org.eclipse.tracecompass.tmf.ui.color.eventraw.selection=10,11,11'
		'org.eclipse.ui.editors.backgroundColor=0,0,0'
		'org.eclipse.ui.editors.currentLineColor=11,12,12'
		'org.eclipse.ui.editors.findScope=76,72,74'
		'org.eclipse.ui.editors.foregroundColor=255,255,255'
		'org.eclipse.ui.editors.lineNumberRulerColor=135,135,135'
		'org.eclipse.ui.editors.printMarginColor=72,74,76'
		'piBorder=0,254,254'
		'tagAttributeName=255,0,255'
		'tagAttributeValue=212,0,255'
		'tagBorder=0,254,254'
		'tagName=89,179,179'
}
IEclipsePreferences#org-eclipse-wst-jsdt-ui {
	preferences:
		'CONTENT_ASSIST_BACKGROUND_COLOR=48,54,59'
		'CONTENT_ASSIST_FOREGROUND_COLOR=235,237,239'
		'content_assist_parameters_background=48,54,59'
		'content_assist_parameters_foreground=235,237,239'
		'content_assist_proposals_background=48,54,59'
		'content_assist_proposals_foreground=235,237,239'
}
